[(title:"Title of note",body:"Here is the body of the note",comments:"Comments here"),(title:"Title of note",body:"Here is the body of the note",comments:"Comments here"),(title:"Title of note",body:"Here is the body of the note",comments:"Comments here"),(title:"Title of note",body:"Here is the body of the note",comments:"Comments here"),(title:"Title of note",body:"Here is the body of the note",comments:"Comments here"),(title:"Title of note",body:"Here is the body of the note",comments:"Comments here"),(title:"Title of note",body:"Here is the body of the note",comments:"Comments here")]