{"lines":(word:"lines"),"imagine":(word:"imagine"),"some":(word:"some"),"let\'s":(word:"let\'s"),"reee":(word:"reee"),"reeee":(word:"reeee"),"text":(word:"text"),"is":(word:"is"),"it":(word:"it"),"do":(word:"do"),"does":(word:"does"),"yippy":(word:"yippy"),"correctly":(word:"correctly"),"hellllloooo":(word:"hellllloooo"),"in":(word:"in"),"italian":(word:"italian"),"this":(word:"this"),"café":(word:"café"),"multiple":(word:"multiple")}