{"text":(word:"text"),"bingo":(word:"bingo"),"some":(word:"some"),"in":(word:"in"),"hellllloooo":(word:"hellllloooo"),"multiple":(word:"multiple"),"pringles":(word:"pringles"),"does":(word:"does"),"café":(word:"café"),"correctly":(word:"correctly"),"let\'s":(word:"let\'s"),"it\'s":(word:"it\'s"),"italian":(word:"italian"),"reee":(word:"reee"),"it":(word:"it"),"this":(word:"this"),"lines":(word:"lines"),"is":(word:"is"),"yippy":(word:"yippy"),"time":(word:"time"),"imagine":(word:"imagine"),"reeee":(word:"reeee"),"do":(word:"do")}