{"yippy":(word:"yippy"),"café":(word:"café"),"multiple":(word:"multiple"),"in":(word:"in"),"it":(word:"it"),"correctly":(word:"correctly"),"reee":(word:"reee"),"text":(word:"text"),"italian":(word:"italian"),"some":(word:"some"),"let\'s":(word:"let\'s"),"do":(word:"do"),"is":(word:"is"),"lines":(word:"lines"),"hellllloooo":(word:"hellllloooo"),"this":(word:"this"),"imagine":(word:"imagine"),"reeee":(word:"reeee"),"does":(word:"does")}