{"is":(word:"is"),"the":(word:"the"),"you":(word:"you"),"where":(word:"where"),"any":(word:"any"),"cringy":(word:"cringy"),"robert":(word:"robert"),"crinkle":(word:"crinkle"),"all":(word:"all"),"true":(word:"true"),"more":(word:"more"),"yes":(word:"yes"),"well":(word:"well"),"wiggady":(word:"wiggady"),"this":(word:"this"),"really":(word:"really"),"it":(word:"it"),"a":(word:"a"),"to":(word:"to"),"hope":(word:"hope"),"word":(word:"word"),"of":(word:"of"),"deneroes":(word:"deneroes"),"my":(word:"my"),"believe":(word:"believe"),"oh":(word:"oh"),"good":(word:"good"),"doing":(word:"doing"),"happened":(word:"happened"),"are":(word:"are"),"app":(word:"app"),"reee":(word:"reee"),"rooby":(word:"rooby"),"its":(word:"its"),"great":(word:"great"),"no":(word:"no"),"language":(word:"language"),"roo":(word:"roo"),"fact":(word:"fact"),"in":(word:"in"),"how":(word:"how"),"me":(word:"me"),"heroes":(word:"heroes"),"woop":(word:"woop"),"test":(word:"test")}